apiVersion: v1
kind: ConfigMap
metadata:
  name: haproxy-mongo-cm
  namespace: mongodb
data:
  haproxy.cfg: |
    global
        log stdout format raw daemon
        maxconn 2048
        # external checks fork a helper; silence warnings
        insecure-fork-wanted

    defaults
        mode tcp
        timeout connect 5s
        timeout client  1m
        timeout server  1m

    frontend f_mongo
        bind *:27017
        default_backend b_mongo

    backend b_mongo
        mode tcp
        balance first
        # enable external-checks for this backend
        option external-check
        external-check path /usr/local/bin
        external-check command check_mongo_primary.sh

        # Three MongoDB pods (headless service DNS)
        server mongo-0 mongo-mongodb-chart-0.mongo-mongodb-chart-headless.mongodb.svc.cluster.local:27017 check inter 2s fall 2 rise 1
        server mongo-1 mongo-mongodb-chart-1.mongo-mongodb-chart-headless.mongodb.svc.cluster.local:27017 check inter 2s fall 2 rise 1
        server mongo-2 mongo-mongodb-chart-2.mongo-mongodb-chart-headless.mongodb.svc.cluster.local:27017 check inter 2s fall 2 rise 1