apiVersion: apps/v1
kind: Deployment
metadata:
  name: haproxy-mongo
  namespace: mongodb
  labels:
    app.kubernetes.io/name: haproxy-mongo
    app.kubernetes.io/instance: mongo
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: haproxy-mongo
      app.kubernetes.io/instance: mongo
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: { { .Release.Name } }
        app.kubernetes.io/name: { { include "mongodb-chart.name" . } }
        app.kubernetes.io/component: haproxy
    spec:
      containers:
        - name: haproxy
          image: gdragonfall1370/ha-proxy:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: mongo
              containerPort: 27017
          volumeMounts:
            - name: haproxy-config
              mountPath: /usr/local/etc/haproxy/haproxy.cfg
              subPath: haproxy.cfg
          readinessProbe:
            tcpSocket:
              port: 27017
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 27017
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: haproxy-config
          configMap:
            name: haproxy-mongo-cm
            items:
              - key: haproxy.cfg
                path: haproxy.cfg
